.welcome .content {
  text-align: center;
  display: inline-block;
  color: white; }

.welcome .title {
  font-size: 96px;
  margin-bottom: 40px; }

.welcome .quote {
  font-size: 24px; }

.navbar {
  font-size: 16px; }
  .navbar a:hover {
    outline: 5; }
  .navbar .navbar-nav li a {
    color: graytext;
    /*              :before {
                content: 'a';
            }*/ }
  .navbar .navbar-nav li .dropdown-menu > li > a {
    color: black; }
  .navbar .navbar-nav li a:hover {
    color: orange;
    /*font-size: 20px;*/
    /*outline-color: orange;*/
    outline: 6; }

.nav-tabs {
  margin: 0px 0px 10px; }

table th {
  text-align: center;
  background-color: #9999ff; }

.dataTables_filter {
  text-align: left; }

body.acesso {
  /*color: white;*/
  background-color: #2089cf; }

html .navbar {
  margin-bottom: 20px; }

html * input.form-control {
  font-size: 20px;
  height: 34px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: proxima-nova-n9, proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 600;
  placeholder-color: red; }

html * div.panel-heading {
  background-color: white;
  border-style: none; }
  html * div.panel-heading * {
    font-size: 30px; }

html * div.footer {
  text-align: center; }
  html * div.footer a {
    font-size: 12px; }

html * input.form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: lightgray; }

.msg-erro-topo {
  /*@extend .navbar-fixed-top;*/
  background-color: #F7D123;
  text-align: center; }

form p.termos-contrato, form p.termos-contrato a {
  font-size: 12px; }

@media only screen and (min-device-width: 480px) {
  .only-mobile {
    display: none;
    color: red; } }

footer {
  margin-top: 50px; }

/*# sourceMappingURL=app.css.map */