@import 'home';
@import 'navbar';
@import 'tabelas';



body.acesso {
    /*color: white;*/
    background-color: rgb(32, 137, 207);
}

html .navbar {
    margin-bottom:  20px;
}

html *{

    input.form-control {
        font-size: 20px /*!important */;
        height: 34px ;
        padding-top:  0px   ;
        padding-bottom:  0px   ;

        font-family: proxima-nova-n9, proxima-nova, sans-serif;
        font-style: normal;
        font-weight: 600;

        placeholder-color : red;

    }



    div.panel-heading {
        background-color: white; 
        border-style : none;
        * {
            font-size: 30px  ;
        }
    }




    //Esqueceu a senha
    div.footer {
        text-align : center;
        a {
            font-size: 12px;

        }
    }

    input.form-control::-webkit-input-placeholder { /* WebKit browsers */
        color:    lightgray;
    }
}


.msg-erro-topo {
    /*@extend .navbar-fixed-top;*/
    background-color: #F7D123;
    text-align: center;

}

//Linha indicando termos do contrato
form p.termos-contrato,  form p.termos-contrato a  {
    font-size: 12px; 
}

@media only screen and (min-device-width: 480px) {
    .only-mobile { 
        display:none;
        color: red;
    } }


footer {
    margin-top: 50px;
}