

.welcome {
    
    .content {
        text-align: center;
        display: inline-block;
        color: white;
    }

    .title {
        font-size: 96px;
        margin-bottom: 40px;
    }

    .quote {
        font-size: 24px;
    }

}