.navbar {
    font-size: 16px;

    a:hover{outline:5}

    .navbar-nav  li {
       //Cor dos links da NavBar
        a{
             color: graytext;
/*              :before {
                content: 'a';
            }*/
        }
        
        //Menu com as opções [aviso, etc]
        .dropdown-menu>li>a  {
            color : black;
           
        }
        
        a:hover{
            color: orange;
            /*font-size: 20px;*/
            /*outline-color: orange;*/
            outline:6;

            a:hover {
            }
        }
    }
} 

.nav-tabs {
    margin: 0px 0px 10px;
}